<div class="container device">
  <div class="device_frame">
    <p class="my-4">ログイン</p>
    <div class="error_message">
      <%= @error_message %>
    </div>
    <div class="device_inner">
      <%= form_with url:login_path, local: true do |form|  %>
      <div class="field form-row">
        <div class="col-2 required-b pt-2"></div>
        <%= form.email_field :email, class: 'form-control col-10 px-2', placeholder: 'メールアドレス', value:@email%>
      </div>
      <div class="field form-row">
        <div class="col-2 required-b pt-2"></div>
        <%= form.password_field :password, class: 'form-control col-10 px-2', placeholder: 'パスワード' %>
      </div>
      <%= form.submit "ログイン", class: "form-control btn btn-primary" %>
      <% end %>
    </div>
    <a href="/sign_up">新しいアカウントを作成</a>
  </div>
</div>