<div class="container-fiuld user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li class=""><a href="/users/<%=@current_user.id %>/account">アカウント</a></li>
        <li class="active"><a href="/users/<%=@current_user.id %>/profile">プロフィール</a></li>
      </ul>
    </div>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>プロフィール</h5>
          </div>
        </div>


        <%= form_with model:@user, url:'update' do |f| %>
        <% @current_user.errors.full_messages.each do |message| %>
        <div class="error-message">
          <%= message %>
        </div>
        <% end %>

        <div class="update-content">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="icon-box">
                <img alt="アイコン画像" class="icon-image host-icon" src="<%= "/user_icons/#{@current_user.user_icon}" %>">
              </div>
            </div>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <%= f.label :user_icon, "アイコン画像", class: "col-md-3 required-a"  %>
            <%= f.file_field :user_icon, class: "mb-4 col-md-9", placeholder: "アイコン画像をアップロード", value: @current_user.user_icon %>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <%= f.label :user_name, "名前", class:"col-md-3 required-a" %>
            <%= f.text_field :user_name, class:"form-control mb-4 col-md-9", placeholder: "名前を入力",value:@current_user.user_name %>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <%= f.label :user_info, "自己紹介" ,class:"col-md-3 required-a" %>
            <%= f.text_area :user_info, rows:"5", class:"form-control mb-4 col-md-9", placeholder:"自己紹介を入力", value:@current_user.user_info %>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <%= f.submit "submit",value:"更新", disable_with: '更新中...', class:"col-md-2 btn btn-primary mx-3"  %>
          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>