<div class="container-fiuld room-new">
  <div class="row">
    <div class="col-lg-2 room-nav room-nav-pc d-lg-block d-none">
      <ul>
        <li class="active"><a href="/rooms/new">基本情報</a></li>
      </ul>
    </div>
    <div class="col-lg-10 room-view">
      <div class="room-view-box">
        <%= form_with url:rooms_create_path, method: :post, local: true do |f| %>

        <% @room.errors.full_messages.each do |message| %>
        <div class="error-message">
          <%= message %>
        </div>
        <% end %>
        <%= f.hidden_field :owner_id, value: @current_user.id %>

        <div class="update-content">
          <div class="row">
            <h5>ルーム情報登録</h5>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :room_name, "ルーム名",class:"col-md-3 required-a" %>
            <%= f.text_field :room_name, class:"form-control mb-4 col-md-9", placeholder:"ルーム名を入力", value: params[:room_name] %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :room_info, "ルーム紹介",class:"col-md-3 required-a" %>
            <%= f.text_area :room_info, class:"form-control mb-4 col-md-9", placeholder:"ルーム説明を入力", value: params[:room_info] %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :price, "料金",class:"col-md-3 required-a" %>
            <%= f.number_field :price, class:"form-control mb-4 col-md-9", placeholder:"一日当たりの料金を入力", value: params[:price] %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :address, "住所",class:"col-md-3 required-a" %>
            <%= f.text_field :address, class:"form-control mb-4 col-md-9", placeholder:"住所を入力", value: params[:address] %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :room_photo, "ルーム画像",class:"col-md-3 required-a" %>
            <%= f.file_field :room_photo, class:"form-control mb-4 col-md-9", placeholder:"ルーム画像をアップロード" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.submit "更新", disable_with: '更新中...', class:"col-md-2 btn btn-primary mx-3" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>