<!DOCTYPE html>
<html>

<head>
  <title>SearchRooms</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <div class="header-left-nav">
        <a href="/"><img alt="サイトのロゴ画像" src="/assets/logo.png"></a>
        <div class="search-form">
          <%= form_with url: search_path, method: :get, local: true do |f| %>
          <div class="header-sharch d-lg-inline-block d-none">
            <%= f.text_field :area,class:"form-control",placeholder:"エリア", value: @area %>
            <%= f.text_field :keyword,class:"form-control",placeholder:"キーワード", value: @keyword %>
            <%= f.submit "Submit", disable_with: 'Submiting...', class:"hidden"%>
          </div>
          <% end %>
        </div>
      </div>
      <div class="header-right-nav">
        <div class="nav-item">
          <%# ログインしている %>
          <% if session[:user_id] %>
          <div class="menu">
            <label for="menu_bar01" class="name_icon">
              <%# ユーザー名 %>
              <div class="header-letter"><%= @current_user.user_name %></div>
              <img class="host-icon nav-trigger" alt="メニュー" src="<%= "/user_icons/#{@current_user.user_icon}" %>">
            </label>
            <input type="checkbox" id="menu_bar01" class="accordion">
            <ul class="header-nav-menu" id="links01">
              <li><a href="/rooms/new">ルーム登録</a></li>
              <li><a href="/users/reservations">予約済みルーム一覧</a></li>
              <li><a href="/users/owns">登録済みルーム一覧</a></li>
              <li><a href="/users/<%= @current_user.id %>/profile">設定</a></li>
              <li>
                <%= link_to("ログアウト", "/logout", {method: "post"}) %>
              </li>
              </form>
            </ul>
          </div>
          <%# ログインしていない %>
          <% else %>
          <%= link_to("ログイン","/login",{class: "btn btn-primary my-2 mx-3"}) %>
          <%= link_to("登録する","/sign_up",{class: "btn btn-secondary"}) %>
          <% end%>
        </div>
      </div>
    </div>
  </header>
  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end%>
  <%= yield %>
  <footer class="footer">
    <p>© 2020 POTEPAN.INC.</p>
  </footer>
</body>

</html>